@model GSCDC.Core.Models.UploadPhotoCoreModel

@{
    ViewBag.Title = "UploadPhoto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    // var photo = ViewBag.photo;
}

<script>
    $(function () {
        //document.getElementById('d').style.background = "#3daacc";
    });
</script>
<style type="text/css">
    #loader-box {
        width: 200px;
        height: 139px;
        padding: 7px 7px 0px 7px;
        margin: 0 auto;
        background-image: url(../Images/boxbg-shadow.png);
        background-repeat: no-repeat;
        background-position: center top;
    }

    #loader-title {
        width: 198px;
        height: 23px;
        padding-top: 4px;
        background-image: url(../Images/title-bg.png);
        background-repeat: repeat-x;
        border: 1px #d0d0d0 solid;
        font-family: Calibri;
        font-size: 16px;
        font-weight: bold;
        color: #4f504b;
        text-align: center;
    }

    #loading-image-box {
        width: 198px;
        padding: 40px 0px;
        background-color: #FFFFFF;
        border: 1px #d0d0d0 solid;
        border-top: none;
        text-align: center;
    }

    .modalPopup {
        background-color: #696969;
        filter: alpha(opacity=40);
        opacity: 0.4;
        xindex: -1;
    }

    .serverbtn {
        background: #fc8820;
        padding: 8px 20px;
        color: #fff;
        text-decoration: none;
        display: inline-block;
        text-align: center;
        margin: 0 6px;
        font-weight: 600;
        border-style: none;
    }

    h2 {
        background: #;
        padding: 5px 0;
        margin-top: 10px;
        color: #000;
        text-align: center;
        font-size: 22px;
    }

    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
        font-family: inherit;
        font-weight: 500;
        line-height: 1.1;
        color: inherit;
    }
</style>
@Scripts.Render("~/bundles/jqueryval")
<div class="row">
    <div class="col-sm-12 form-group" style="background:#3daacc;color:#fff;padding:10px;">
        @*<h3 id="title" style="display:inline-block;">Upload Photo And Signature for<strong> @Model.SchemeID</strong></h3>*@
        @*<h2 style="margin:0;padding:0;display:inline-block;text-align:right;float:right;">
                <button type="button" class="btn btn-warning btn-sm" onclick="goBack()"> Back To Application</button>
            </h2>*@
    </div>
    <div class="col-lg-9 text-center">

    </div>
    <div class="col-lg-3 text-center">

    </div>
</div>
<div>

    @using (Html.BeginForm("UploadDocument", "AnimalHusbandry", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.ConfNo)
        @Html.HiddenFor(m => m.SchemeID)
        @Html.HiddenFor(m => m.ApplicantImage)
        @Html.HiddenFor(m => m.ApplicantSignature)
        @Html.HiddenFor(m => m.WitnessSignature)
        <style>
            .upload-block {
                margin: 0 auto;
                text-align: center;
                font-size: 14px;
                color: #333;
                border: 1px solid #ccc;
                padding: 10px;
                margin-bottom: 10px;
            }

            .btn-up {
                width: 100%;
                margin: 0;
                margin-bottom: 10px;
            }

            .up-text {
                padding-top: 10px;
            }

            .up-sig {
                margin-top: 73px;
            }

            .center-block {
                margin: 0 auto;
                text-align: center;
                left: 0;
                right: 0;
            }
        </style>
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10">
                        <div class="row">

                            <div class="col-sm-3">
                                <div class="upload-block">
                                    @if (Model.ApplicantImage != null && Model.ApplicantImage != "")
                                    {
                                        <div><img src="~/Document/UploadPhoto/AnimalHusbandry/@Model.ApplicantImage" id="imgPhoto" style="height: 170px;width: 136px;" class="img-responsive center-block" /></div>
                                    }
                                    else
                                    {
                                        <div><img src="~/Assets/Client/images/placeholder.png" id="imgPhoto" style="height: 170px;width: 136px;" class="img-responsive center-block" /></div>
                                    }
                                    <div class="up-text">Upload Photograph</div>

                                </div>
                                <input type="button" id="btnUpload" value="Upload Photo" class="serverbtn btn-up">
                                @Html.TextBoxFor(a => a.ApplicantImageFile, new { type = "file", @class = "form-control", @style = "display:none;" })
                                @Html.ValidationMessageFor(a => a.ApplicantImageFile)
                            </div>


                            <div class="col-sm-4">
                                <div class="upload-block up-sig">
                                    @if (Model.ApplicantSignature != null && Model.ApplicantSignature != "")
                                    {
                                        <div><img src="~/Document/UploadSignature/AnimalHusbandry/@Model.ApplicantSignature" id="imgSingature" style="height: 95px;width: 283px;" class="img-responsive center-block" /></div>
                                    }
                                    else
                                    {
                                        <div><img src="~/Assets/Client/images/placeholder1.png" id="imgSingature" style="height: 95px;width: 283px;" class="img-responsive center-block" /></div>
                                    }
                                    <div class="up-text">Upload Signature</div>

                                </div>
                                <input type="button" id="btnSignUpload" value="Upload Signature" class="serverbtn btn-up">
                                @Html.TextBoxFor(a => a.ApplicantSignatureFile, new { type = "file", @class = "form-control", @style = "display:none;" })
                                @Html.ValidationMessageFor(a => a.ApplicantSignatureFile)
                            </div>
                            <div class="col-sm-4">
                                <div class="upload-block up-sig">
                                    @if (Model.WitnessSignature != null && Model.WitnessSignature != "")
                                    {
                                        <div><img src="~/Document/UploadWitnessSignature/AnimalHusbandry/@Model.WitnessSignature" id="imgWitnessSignature" style="height: 95px;width: 283px;" class="img-responsive center-block" /></div>                                    }
                                    else
                                    {
                                        <div><img src="~/Assets/Client/images/placeholder.png" id="imgWitnessSignature" style="height: 95px;width: 283px;" class="img-responsive center-block" /></div>
                                    }
                                    <div class="up-text">Upload Witness Signature:</div>

                                </div>
                                <input type="button" id="btnUploadWitness" value="Upload Witness Signature" class="serverbtn btn-up">
                                @Html.TextBoxFor(a => a.WitnessSignatureFile, new { type = "file", @class = "form-control", @style = "display:none;" })
                                @Html.ValidationMessageFor(a => a.WitnessSignatureFile)
                            </div>
                            <div class="col-sm-1"></div>
                        </div>
                    </div>
                    <div class="col-sm-1"></div>

                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-12">
                <center>
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered table-condensed tbl2">
                            <tr>
                                <td align="center" style="border:none !important;" colspan="3">
                                    <br />
                                    <div class="btn1">
                                        <input type="submit" id="btnConfirm" value="Save Photo and Signature" class="serverbtn" />
                                    </div>
                                    <br />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @if (TempData[GSCDC.Web.Controllers.AnimalHusbandryController.Temp_Error] != null)
                                    {
                                        <div class="alert alert-danger alert-dismissable sticky-alert" id="alert-div" style="margin:0% 0% 0% 5%; width: 80%;">
                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
                                            <b>@TempData[GSCDC.Web.Controllers.AnimalHusbandryController.Temp_Error]</b>
                                        </div>
                                    }
                                    @if (TempData[GSCDC.Web.Controllers.AnimalHusbandryController.Temp_Success] != null)
                                    {
                                        <div class="alert alert-success alert-dismissable sticky-alert" id="alert-div" style="margin:0% 0% 0% 5%; width: 80%;">
                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">X</button>
                                            <b>@TempData[GSCDC.Web.Controllers.AnimalHusbandryController.Temp_Success]</b>
                                        </div>
                                    }
                                </td>
                            </tr>
                        </table>
                        <br />

                    </div>
                </center>
            </div>
        </div>
    }

</div>

<div id="panel3" style="width: 300px; display: none;">
    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table class="table table-hover table-bordered table-condensed tbl2">
                    <tr style="background-color: #507CD1; color: #FFFFFF; font-weight: bold;">
                        <td align="left" style="height: 25px">
                            <b>Alert!</b>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <div id="div1">
                                <font style="color: Black; margin-top: 3px; text-align: justify; font-size: 11pt;">
                                    your
                                    Photo is already uploaded.
                                    <br />
                                    Do you want to replace it with existing Photo?
                                    <br />
                                </font>
                                <br />
                                <div style="height: 20px;">
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <input type="button" id="Button3" text="Yes" />
                            &nbsp;
                            <input type="button" id="b1" text="no" />
                            <input type="button" id="b2" style="display: none;" text="g" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="DisableDiv" style="position: absolute; z-index: 9998; background-color: #CCCCCC; opacity: 0.7; width: 0px; height: 0px; top: 0px; left: 0px; vertical-align: middle; text-align: center;">
</div>
<div id="divLoad" style="position: absolute; z-index: 9999; width: 200px; height: 200px; top: 0px; left: 0px; vertical-align: middle; text-align: center;">
    <br />
    <br />
    <br />
    <br />
    <br />
    <img src="../Images/progress_bar.gif" alt="Please Wait..." /><br />
    <label style="font: bold 12pt Cambria; color: black">
        <br />
        Processing Please Wait...
    </label>
    <br />
</div>
<script>
    $(document).ready(function () {
        $("#btnUpload").click(function () {
            $("#ApplicantImageFile").click();
        });

        $("#btnSignUpload").click(function () {
            $("#ApplicantSignatureFile").click();
        });
        $("#btnUploadWitness").click(function () {
            $("#WitnessSignatureFile").click();
        });
    });
</script>

<script>
    $('INPUT[type="file"]').change(function () {
        var ext = this.value.match(/\.(.+)$/)[1].toLowerCase();
        switch (ext) {
            case 'jpg':
            case 'jpeg':
            case 'png':
                break;
            default:
                alert('You can upload only jpg,png extension file.');
                this.value = '';
        }
    });
</script>

<script type="text/javascript">
    function readURL(input, s) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            if (s == 1) {
                reader.onload = function (e) {
                    $('#imgPhoto').attr('src', e.target.result);
                }
            }
            else if (s == 2) {
                reader.onload = function (e) {
                    $('#imgSingature').attr('src', e.target.result);
                }
            }
            else {
                reader.onload = function (e) {
                    $('#imgWitnessSignature').attr('src', e.target.result);
                }

            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#ApplicantImageFile").change(function () {
        readURL(this, 1);
    });
    $("#ApplicantSignatureFile").change(function () {
        readURL(this, 2);
    });
    $("#WitnessSignatureFile").change(function () {
        readURL(this, 3);
    });
</script>

<script type="text/javascript">
    $(function () {
        HideLoader();

        $('#DisableDiv').width(970);
        $('#DisableDiv').height(410);
        $('#DisableDiv').offset({ left: 195, top: 163 });
        $('#divLoad').offset({ left: 195 + (970 / 2) - 100, top: 213 });


        $('#DisableDiv').hide();
        $('#divLoad').hide();
    });
    function ShowLoader() {
        $('#DisableDiv').show(400);
        $('#divLoad').show(400);
        setTimeout("ButtonTrue()", 1000);
    }

    function ButtonTrue() {
        return true;
    }

    function HideLoader() {
        $('#DisableDiv').hide();
        $('#divLoad').hide();

    }
</script>



