<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - સામાજિક ન્યાય અને અધિકારીતા વિભાગ</title>
    @*@Styles.Render("~/Content/css")*@
    <link href="@Url.Content("~/Assets/Client/css/bootstrap-datepicker.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Assets/Client/css/bootstrap-datepicker.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Assets/Client/css/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Assets/Client/css/font-awesome.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Assets/Client/css/bootstrap-datepicker.css")" rel="stylesheet" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/Client/css/menu.css")" type="text/css">
    <link href="@Url.Content("~/Assets/Client/css/style.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Assets/Client/css/responsive.css")" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">


    <script type="text/javascript" src="@Url.Content("~/Assets/Client/js/jquery-1.11.2.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/Client/js/bootstrap.min.js")" defer></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/Client/js/flexy-menu.js")" defer></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/Client/js/bootstrap-datepicker.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/Client/js/function.js")" defer></script>
   
   
    <script type="text/javascript" src="@Url.Content("~/Scripts/gscdc.js")"></script>

</head>

<body class="bgcolor">

    <div class="container">
        <div class="formbox">
            <div class="banner"><img src="@Url.Content("~/Assets/Client/images/banner.jpg")" alt=""></div>
            <div class="menu">
                <ul class="flexy-menu">
                    <li id="a"><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li id="b"><a href="@Url.Action("Index", "Home")">Apply Online</a></li>
                    <li id="c"><a href="@Url.Action("Edit", "Schemes")">Edit Application</a></li>
                    <li id="d"><a href="@Url.Action("UploadDocument", "Schemes")">Upload Document</a></li>
                    <li id="e"><a href="@Url.Action("ConfirmApplication", "Schemes")">Confirm Application</a></li>
                    <li id="f"><a href="#">Print Application</a></li>
                    <li id="g"><a href="#">Application Status</a></li>
                    <li id="e"><a href="@Url.Action("Login", "Account", new {@area="Admin" })">Login</a></li>
                </ul>
            </div>
            <div class="well">
                @RenderBody()
            </div>
        </div>
    </div>

    <script>


        $(function () {
            debugger;
            $(".date").datepicker({
                format: 'dd/M/yyyy',
                changeMonth: true,
                changeYear: true,
                yearRange: '2002:2016',
                buttonImageOnly: true,
                buttonText: "Select date",
                autoclose:true
            });
        });

    </script>

    @*@Scripts.Render("~/bundles/jqueryval")*@

</body>



</html>
